mixin normalFooter()
    footer.page-footer.blue.lighten-2(style='margin-top: 200px')
        .container
            .row
                .col.l6.12
                    h5.white-text arcGravitus Project
                    p.grey-text.text-lighten-3 This project is developed by arcGravitus team.
                .col.l4.offset-l2.s12
                    h5.white-text Links
                    ul
                        li: a.grey-text.text-lighten-3(href='http://blog.codebursts.com') arcGravitus Blog
                        li: a.grey-text.text-lighten-3(href='#') Link 2
                        li: a.grey-text.text-lighten-3(href='#') Link 3
                        li: a.grey-text.text-lighten-3(href='#') Link 4
        .footer-copyright
            .container
                | © Project ACGSounds
                a.grey-text.text-lighten-4.right(href='#') Contributors
                .right.text-darken-2 
                    | 备案信息：
                    a.grey-text.text-lighten-2(href='http://www.miitbeian.gov.cn') 沪ICP备15046142号-2
                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
