include util

extends layout

block content
    header
        +normalNav()
    .container
        .row
            .col.m4.s4
                .card
                    .card-content
                        span.card-title arcGravitus
                        p(style='white-space: pre-wrap').
                            The chief developer and designer of ACGSounds. Full stack engineer, amateur pianist.

                            Major Contributions: Basic framework of ACGSounds, MIDI Player, template engine, CDN infrastructure and mobile apps.
                    .card-action
                        a(href='mailto:jcpwfloi@gmail.com') Email
            .col.m4.s4
                .card
                    .card-content
                        span.card-title Pisces
                        p(style='white-space: pre-wrap').
                            Senior developer of ACGSounds.

                            Major Contributions: MIDI Player, classifying runtime libraries, comment engine and pagination engine.
                    .card-action
                        a(href='mailto:lvshiqing@hsefz.cn') Email
            .col.m4.s4
                .card
                    .card-content
                        span.card-title 无色姬
                        p(style='white-space: pre-wrap').
                            Logo Designer of ACGSounds

                            Major Contributions: ACGSounds web logo and ACGSounds app logo.
                    .card-action
                        a(href='mailto:lvshiqing@hsefz.cn') Email
