doctype html
html
    head
        meta(charset='utf8')
        meta(content!=csrf, name='csrf-token')
        title= title
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
        //link(rel='stylesheet', href='/stylesheets/icon.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
        script window.languageSetting = "#{__('languageSetting')}";
        script window.user = !{JSON.stringify(user)};
        script(src='/javascripts/external/jquery.min.js')
        script(src='/javascripts/external/materialize.min.js')
        script(src='/javascripts/external/jquery.md5.js')
    body
        block content
    script(src='/javascripts/util.js')
    block script
