include util

extends layout

block content
    .valign-wrapper
        .row
            .col.s4.z-depth-4.card-panel.offset-s4
                form.login-form
                        .input-field.col.s12.center
                            h4 Register
                            p.center Join to our community now !
                    .row
                        .input-field.col.s12
                            i.mdi-social-person-outline.prefix
                            input#username(type='text')
                            label.center-align(for='username') Username
                        .input-field.col.s12
                            i.mdi-communication-email.prefix
                            input#email(type='email')
                            label.center-align(for='email') Email
                        .input-field.col.s12
                            i.mdi-action-lock-outline.prefix
                            input#password(type='password')
                            label(for='password') Password
                        .input-field.col.s12
                            i.mdi-action-lock-outline.prefix
                            input#password-again(type='password')
                            label(for='password-again') Password again
                        .input-field.col.s12
                            a.btn.waves-effect.waves-light.col.s12(href='javascript:register()') Register Now
                        .input-field.col.s12
                            p.center.medium-small.sign-up
                                | Already have an account? 
                                a(href='/user/login') Login

    block script
        script.
            $(document).ready(function() {
                $('body').addClass('cyan');
                //$('body').addClass('lighten-2');
            });
