include util
extends layout

block content
    style.
        .thumb-up-btn, #words-disp {
            transition: color 0.5s;
        }
        .thumb-up-icon {
            transition: transform 0.5s;
            transform: scale(1, 1);
        }
        .thumb-popping {
            transform: scale(0.8, 0.8);
        }
    header
        +normalNav()
    .row
        .col.s4
            .row
                .col.s12
                    .card.blue-grey.darken-1(style='margin-bottom: 0')
                        .card-content.white-text
                            h6= sheet.sheetName
                            p 上传者：#{sheet.user.username}
                            p 标签：
                            p(style='font-size: 12px') 简介：#{sheet.sheetIntro.length > 100 ? sheet.sheetIntro.substr(0, 96) + '....' : sheet.sheetIntro}
                        .card-action
                            a(href!='http://cdn.acgsounds.com/' + sheet._id + '.mid') 下载 MIDI
                            a(href!='http://cdn.acgsounds.com/' + sheet._id + '.pdf') 下载 PDF
                            a(href='#') 下载 SIB
                .col.s12
                    .card(style='margin-bottom: 0')
                        .card-content
                            a#play(href='javascript:void(0)')
                                i.material-icons play_circle_filled
                            a#pause(href='javascript:void(0)', style='display: none')
                                i.material-icons pause_circle_filled
                            a#resume(href='javascript:void(0)', style='display: none')
                                i.material-icons play_circle_filled
                            | &nbsp;&nbsp;
                            a#stop(href='#', onClick='javascript:void(0)')
                                i.material-icons stop
                            .secondary-content
                                | MIDI 播放控制
                            .progress#seek
                                .determinate
                            .secondary-content.grey-text
                                span#currentTime
                                |  /
                                span#totalTime
                            br
                .col.s12
                    ul.collection#commentBox
                        .progress
                            .indeterminate
                        .row.center
                            | Loading...
                    ul.pagination(id='pag')
                        li.waves-effect(id='pag-prev')
                            a(href='javascript:pag_prev();')
                                i.material-icons chevron_left
                        span(id='pag-numbers')
                        li.waves-effect(id='pag-next')
                            a(href='javascript:pag_next();')
                                i.material-icons chevron_right
                    if user
                        div.input-field
                            textarea.materialize-textarea(id='text-comment')
                            label(for='text-comment')
                                = __('Say something')
                            span(id='words-disp', style='float: right')
                                | 500
                            a.waves-effect.waves-light.btn(id='btn-comment', style='width: 100%')
                                i.material-icons.left navigation
                                = __('Submit comment')
        .col.s8
            object#pdf(data!='http://cdn.acgsounds.com/' + sheet._id + '.pdf', type='application/pdf', style='width: 100%; height: 600px')

        .template-1(style='display: none')
            li.collection-item.avatar(id='comment-display-{2}')
                img.circle(src='', alt='')
                a.title(href='/user/{0}') {0}
                p {1}
                p.right-align.grey-text {4}
                .secondary-content.grey-text(style='margin-right: 90px; margin-top: -10px') {2}#
                .secondary-content.grey-text(style='margin-right: 40px; margin-top: -10px', id='comment-likes-{2}') {3}
                a.secondary-content.teal-text.text-lighten-4.thumb-up-btn(id='comment-thumbup-{2}', href='javascript:likeComment({2});', style='margin-top: -10px')
                    i.material-icons.thumb-up-icon thumb_up

block script
    script(src='/javascripts/comment.js')
    script(src='/javascripts/midi.js')

    script window.sheet_id = "#{sheet._id}";
    script(src='/javascripts/sheet.js')
